{% load maya_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change_List</title>
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
<div class="container">

<h3>数据列表</h3>
<form method="POST">
{% csrf_token %}
    <div style="margin-bottom: 10px" class="clearfix">
        {% if action_list %}
            <div class="col-lg-3 input-group pull-left">
              <select name="action" class="form-control">
                  {% for item in action_list %}
                    <option value="{{ item.name }}">{{ item.text }}</option>
                  {% endfor %}
              </select>
              <div class="input-group-btn">
                  <input type="submit" class="btn btn-default" value="执行">
              </div>
            </div>
        {% endif %}
        <a href="{{ add_url }}" class="btn btn-info pull-right">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>新增数据
        </a>
    </div>
    <!-- data table start -->
    {% change_list data_list list_display maya_admin %}
    <!-- data table end -->
</form>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {#分布导航数据#}
        {{ page_index | safe }}
    </ul>
</nav>
</div>
</body>
<script src="/static/jquery/jquery-3.2.1.js"></script>
<script>

    $(document).ready(function () {
        $(".first-col").parent().css("width","123")
    });
    $("input[type='button']").click(function () {
        if($(this).val() === "全选"){
            $("input[type='checkbox']").prop('checked',true)
        }
        if($(this).val() === "反选"){
            $("input[type='checkbox']").each(function () {
                $(this).prop("checked",!$(this).prop("checked"))
            })
        }
        if($(this).val() === "取消"){
            $("input[type='checkbox']").prop('checked',false)
        }
    })
</script>
</html>