{#<table>#}
{#    <thead>#}
{#        <tr>#}
{#            {% for item in head %}#}
{#                <th>{{ item }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr>#}
{#            {% for item in content %}#}
{#                <td>{{ item }}</td>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </tbody>#}
{#</table>#}

{#<table>#}
{#    <tbody>#}
        {% for row in content_col %}
{#                <td><div class="form-control">{{ item.0 }}</div></td>#}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ row.0 }}</label>
                <div class="col-sm-10">
                  {{ row.1 }}
                </div>
          </div>
        {% endfor %}
{#    </tbody>#}
{#</table>#}